body {
	font-family: Tahoma;
}
.paragraph {
	text-align: center;
	padding: 5px 0 20px 0;
	font-size: 18px;
}

.listItem {
	font-size: 12px;
	font-size: 18px;
}

.label {
	font-size: 14px;
}

.button {
	display: block;
    margin: 0 auto;
    padding: 10px 40px;
    font-size: 19px;
    border: 2px solid #69737c;
    background: rgb(207, 226, 243);
}

.сheckbox {
  position: absolute;
  opacity: 0;
}

.сheckbox + label {
  position: relative;
  padding: 0 0 0 30px; 
}

.сheckbox+ label:before {
  vertical-align: center;
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 15px;
  height: 15px;
  background: rgb(208,226,240);
  border: 2px solid #6e707c;
}

.сheckbox:checked + label:before {
  background: #42e5e6;
  content: "\2713";
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 15px;
}

